body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.5s, color 0.5s;
    position: relative;
}

.about-me {
    padding: 30px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.about-me h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.about-me p {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}



/* Mobile Styles */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    header {
        padding: 10px 0;
    }

    .profile img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 10px;
        opacity: 0.8;
        transition: transform 0.5s, opacity 0.5s;
    }

    .profile:hover img {
        transform: scale(1.1);
        opacity: 1;
    }

    .theme-toggle {
        top: 10px;
        right: 10px;
        font-size: 14px;
        padding: 8px 16px;
    }

    .projects {
        padding: 20px;
    }

    .project {
        flex-direction: column;
        padding: 20px;
        margin-bottom: 20px;
    }

    .project-media img,
    .project iframe {
        border-radius: 8px;
    }

    .project-info {
        padding: 20px;
        box-sizing: border-box;
    }

    .project-info a {
        padding: 10px 16px;
        margin-top: 15px;
        font-size: 14px;
    }
}

.light-theme {
    background-color: #fff;
    color: #333;
}

.dark-theme {
    background-color: #000;
    color: #fff;
}

header {
    background: linear-gradient(to bottom, #333333, #000000);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    transition: background 0.5s, color 0.5s;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    border-radius: 8px;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    object-position: center center;
    margin-bottom: 10px;
    opacity: 0.8;
    transition: transform 0.5s, opacity 0.5s;
}

.profile:hover img {
    transform: scale(1.1);
    opacity: 1;
}

h1 {
    margin: 0;
}

p {
    margin: 10px 0;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #55acee;
}

.theme-toggle {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #353535;
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.theme-toggle:hover {
    background-color: #010101;
}

.projects {
    padding: 60px;
}

.project {
    display: flex;
    padding: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #555;
}

.project:last-child {
    border-bottom: none;
}

.project-info,
.project-media {
    flex: 1;
}

.project-info {
    padding-right: 20px;
}

.project-media {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.project-media img,
.project iframe {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s;
}

.project-media:hover img,
.project:hover iframe {
    transform: scale(1.1);
}

.project-info a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #353535;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-info a:hover {
    background-color: #1d1d1d;
}

.project.reverse {
    flex-direction: row-reverse;
}