body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.5s, color 0.5s;
    position: relative;
}

.light-theme {
    background-color: #fff;
    color: #333;
}

.dark-theme {
    background-color: #1f1f1f;
    color: #fff;
}

header {
    background: linear-gradient(to bottom, #333, #222);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    transition: background 0.5s, color 0.5s;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    object-position: center center;
    margin-bottom: 10px;
    opacity: 0.8;
    transition: transform 0.5s, opacity 0.5s;
}

.profile:hover img {
    transform: scale(1.1);
    opacity: 1;
}

h1 {
    margin: 0;
}

p {
    margin: 10px 0;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #55acee;
}

.theme-toggle {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #000; /* Tom mais escuro de azul */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.theme-toggle:hover {
    background-color: #000; /* Tom mais escuro ao passar o mouse */
}

.projects {
    padding: 60px; /* Ajuste o valor conforme necessário */
}

.project {
    display: flex;
    padding: 20px; /* Ajuste o valor conforme necessário para aumentar ou diminuir o espaçamento interno */
    margin-bottom: 40px; /* Ajuste o valor conforme necessário para aumentar ou diminuir o espaçamento externo */
    border-bottom: 1px solid #555;
}

.project:last-child {
    border-bottom: none;
}

.project-info,
.project-media {
    flex: 1;
}

.project-info {
    padding-right: 20px;
}

.project-media {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.project-media img,
.project iframe {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s;
}

.project-media:hover img,
.project:hover iframe {
    transform: scale(1.1);
}

.project-media.project2 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project-info.project2 {
    padding: 20px;
    box-sizing: border-box;
}

.project.reverse {
    flex-direction: row-reverse;
}

.project-info a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #000000; /* Tom mais escuro de azul */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-info a:hover {
    background-color: #000000; /* Tom mais escuro ao passar o mouse */
}
